/* BODY */
body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background:url("assets/images/ai-generated/HomeBackground.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

/* main content on home screen */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* menu content */
.menu {
  margin-top: 180px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* menu buttons */
.menu-button {
  width: 300px;
  height: 140px;

  font-size: 42px;
  color: white;
  
  border: none;
  border-radius: 30px;

  background: linear-gradient(
    135deg,
      rgba(0, 225, 255, 0.4),
      rgba(0, 225, 255, 0.6),
      rgba(0, 225, 255, 0.8)
  );
  
  cursor: pointer;

  transition: all 0.25s ease;
}

.menu-button:hover {
  transform: translateY(-2px);

  box-shadow:
  0 0 20px rgba(0, 225, 255, 0.8),
  0 0 35px rgba(0, 225, 255, 0.8);

  filter: brightness(1.1);
}

.menu-button:active {
  transform: scale(0.85);

  box-shadow:
  0 0 25px rgba(0, 225, 255, 0.8);
}

/* home button*/
#home-button {
  /*sets width to, auto omitted */
  height: 150px;
  margin-top: 30px;

  background: transparent;
  border: none;

  cursor: pointer;

  /* transition belongs on the base element, not :hover */
  transition: all 0.4s ease-in-out;
}

#home-button:hover {
  filter: brightness(1.1);
  transform: scale(1.005);
}
